* {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.movie {
  padding: 3px;
  background: rgb(103, 129, 58);
  box-shadow: rgba(0, 0, 0, 0.561) 10px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  border-radius: 3%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: rgb(48, 19, 19);
}
.title {
  display: flex;
  align-items: center;
  color: rgb(240, 240, 240);
  height: 4.4vh;
  font-size: 0.8em;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  word-wrap: break-word;
}
img {
  margin-top: 0.2em;
  height: auto;
  border-radius: 7px;
}
@media only screen and (max-width: 768px) {
  img {
    height: 270px;
  }
}
@media only screen and (max-width: 450px) {
  img {
    height: 270px;
  }
}
