header {
  background: #774848;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 10px;
}

header span {
  cursor: pointer;
  color: #eed9d9;
  padding: 20px;
}

header span:hover {
  background: rgba(169, 223, 180, 0.493);
  color: rgb(112, 19, 19);
}
.movies {
  display: grid;
}
