.movies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  grid-row-gap: 80px;
  padding: 1em;
  width: 95%;
  height: 90%;
  color: rgb(105, 33, 33);
  transition: all 2s;
}
