header {
  background: #1f1f1f;
  color: white;
  display: flex;
}

header span {
  cursor: pointer;
  background: #1f1f1f;
}

header span:hover {
  background: rgba(228, 228, 228, 0.493);
  color: rgb(7, 7, 7);
  border-radius: 5px;
}
